<h1> Каналы </h1>

<% if @channels.present? %>
  <% @channels.each do |channel| %>
    <div><%= link_to channel.title, channel_path(channel) %></div>
  <% end %>
<% end %>

<%= link_to new_channel_path do %>
  Создать новый канал
<% end %>
