if ($('#messages').children().length > 10){
  $('#messages').children().first().remove();
}
var nickname = '<%= current_user.nickname %>',
    text = '<%= params[:text] %>'
$("#messages").append('<div><span>' + nickname + ': ' + text + '</span></div>');