<div class="container">
  <div class='row'>
    <div class='col-10 align-self-center'>
      <div class="list-group">
        <% @users.each do |user| %>
          <%= link_to user.nickname, user_path(user), method: :get, class: 'list-group-item ' %>
        <% end %>
    </div>
  </div>
</div>